.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
.idea/workspace.xml
.idea/codeStyleSettings.xml
*.iml
.idea/codeStyleSettings.xml
sandbox/sandbox.iml
.idea/misc.xml
